[submodule "hwlib"]
	path = src/hwlib
	url = git://github.com/wovo/hwlib.git
[submodule "bmptk"]
	path = src/bmptk
	url = git://github.com/wovo/bmptk.git
[submodule "rtos"]
	path = src/rtos
	url = git://github.com/wovo/rtos.git
